urxvt.iso14755: false
urxvt.iso14755_52: false
urxvt.*.background: black
urxvt.*.foreground: white
urxvt.*.font: xft:Liberation Mono:pixelsize=15
urxvt.*.scrollBar: False
urxvt.*.transparent: True
urxvt.*.shading: 10
urxvt.*.blurRadius: 5x5
urxvt.perl-ext-common: resize-font
