urxvt.iso14755: false
urxvt.iso14755_52: false
urxvt.*.background: #120030
urxvt.*.foreground: #f5f5f5
urxvt.*.font: xft:Liberation Mono:pixelsize=15
urxvt.*.scrollBar: False
urxvt.*.transparent: False
urxvt.*.shading: 20
urxvt.perl-ext-common: resize-font,default,matcher
urxvt.url-launcher: firefox
urxvt.matcher.button: 1
